body{background-color: #E5E5E5;;}
.topo {
    background-color: #CF2B2B;
    width:100%;
    position:fixed;
    top:0px;
    left:0px;
}

.container{width:100vw;
overflow-x: hidden;}

.titulo {font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    margin-left: 21px;
    margin-top: 8px;}

.comida{font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 21px;
    margin-bottom:18px;}

.primeiro{margin-left: 19px;
    margin-top: 135px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333}

    .pratos{display:flex;
        overflow-x: scroll}   

.comidas{width: 172px;
    height: 216px;
    margin-left: 19px;
    margin-top: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    display:flex;
    flex-direction:column;
    justify-content:center;}

.comida-imagem{border-radius: 4px;
    width: 125px;
    margin-left:14px;
    margin-top:8px;
    height:87px}

.nome-prato{width: 139px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-top:10px;
    margin-left:14px;}

.descricao, .complemento{font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
    margin-left:14px;
    }

.descricao{margin-top:8px;}

.preco{font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-left:14px;
    margin-top:8px;}

    .bebida{width: 231px;
    height: 25px;
    margin-left: 19px;
    margin-top: 30px;
    margin-bottom:5px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;}

    .sobremesa{width: 320px;
        margin-bottom:20px;
height: 25px;
margin-left: 19px;
margin-top: 30px;
margin-bottom:5px;
font-family: 'Righteous';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 32px;
letter-spacing: 0.018em;
color: #333333;}

.aqui{width: 364px;
height:64px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.018em;
color: #FFFFFF;
display:flex;
align-items:center;
justify-content:center;
background: #CBCBCB;
border-radius: 50px;
margin-top:10px;
 margin-bottom:10px;}

    .pedido{
        width: 100%;
        display:flex;
        align-items:center;
        justify-content:center;
        left: 0px;
        bottom: 0px;
        position:fixed;
        background: #FFFFFF;
    }

        .doces{margin-bottom:100px;
        }

        .selecionado{box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
        }


    .fundoBotao {background-color: #32B72F;}

    .check {color:#FFFFFF;
    position:absolute;
    left:125px;
    bottom:8px;}

    .selecionado > .check {color: #32B72F;}

    .comidas{position:relative;}
    .topo{z-index: 1;}

    @media (min-width: 1200px){
        .comida-imagem{width:130px;}
    }

    @media (min-width: 1257px){
        .comida-imagem{width:134px;}
    }
    @media (min-width: 1275px){
        .comida-imagem{width:140px;}
    }
    @media (min-width: 1323px){
        .comida-imagem{width:144px;}
    }

    @media (min-width:1228px){
        .check {left:130px;
            bottom:9px;}
            }
    
    @media (min-width:1340px){
        .check {left:145px;
            bottom:9px;}
                }
        
    
